ul {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;
}

@media screen and (max-width: 1372px) {
  ul {
    width: 50%;
  }
}

@media screen and (max-width: 1004px) {
  ul {
    width: 70%;
  }
}

@media screen and (max-width: 734px) {
  ul {
    width: 85%;
  }
}

@media screen and (max-width: 546px) {
  ul {
    width: 90%;
    padding: 50px 0;
  }
}
