@import "./css/variables";
@import "./css/fonts";

// disable zoom on pinch
// disable ability to select text
body {
  margin: 0;
  touch-action: pan-x pan-y;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently

                          supported by Chrome, Edge, Opera and Firefox */
}

html {
  font-size: 62.5%;
  font-family: "Balsamiq Sans", cursive;
}
